        <!-- Meal Details -->
        <section class="col s12 meal-wrap">
          <div class="panel-container white">
            <div class="panel-header">
              <h6>Enter the Meal Details</h6>
            </div>
            <div class="panel">
              <form name="myForm" novalidate ng-submit="submit()">
                <div class="input-container">
                  <label for="price">Base Meal Price:</label>
                  <input type="number" name="price" ng-model="meal.price" placeholder="$" required>
                  <span class="error" ng-if="myForm.$submitted && myForm.price.$error.required">Please Enter a Price Above</span>
                  <span class="error" ng-if="myForm.$submitted && myForm.price.$error.number">Not a valid number!</span>
                </div>
                <div class="input-container">
                  <label for="tax">Tax Rate:</label>
                  <input type="number" name="tax" ng-model="meal.tax" placeholder="%" required>
                  <span class="error" ng-if="myForm.$submitted && myForm.tax.$error.required">Please Enter a Tax Rate Above</span>
                  <span class="error" ng-if="myForm.$submitted && myForm.tax.$error.number">Not a valid number!</span>
                </div>
                <div class="input-container">
                  <label for="tip">Tip Percentage:</label>
                  <input type="number" name="tip" ng-model="meal.tip" placeholder="%" required>
                  <span class="error" ng-if="myForm.$submitted && myForm.tip.$error.required">Please Enter a Tip Percentage Above</span>
                  <span class="error" ng-if="myForm.$submitted && myForm.tip.$error.number">Not a valid number!</span>
                </div>
                <div class="button-container right-align">
                  <input class="btn blue" type="reset" value="Clear" ng-click="clear()" />
                  <input class="btn indigo" type="submit" value="Submit" />
                </div>
              </form>
            </div>
          </div>
        </section> 


        <!-- Customer Charges -->
        <section class="col s12 meal-wrap">
          <div class="panel-container white">
            <div class="panel-header">
              <h6>Customer Charges</h6>
            </div>
            <div class="panel">
              <div class="input-container">
                <label for="subtotal">Subtotal:</label>
                <div class="result">{{customer.subtotal | currency:"$"}}</div>
              </div>
              <div class="input-container">
                <label for="tip">Tip:</label>
                <div class="result">{{customer.tip | currency:"$"}}</div>
              </div>
              <div class="input-container">
                <label for="total">Total:</label>
                <div class="result">{{customer.total | currency:"$"}}</div>
              </div>
            </div>
          </div>
        </section>