/* ******************************************
Layout
****************************************** */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

img { 
  max-width: 100%;
}

body {
  background-color: $primary-color;
  padding: .75em;
}

.container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 50em;
}

header {
  padding: 1.25em;
  div {
    margin: 0 auto;
    text-align: center;
  }
}

.smiley {
  max-width: 6em;
  padding-bottom: .75em;
}

.words-container, .output-container {
  padding: 3em 1.5em;
  border-top: 1px solid #ccc;
}

h3 {
  padding-bottom: .75em;
}

.words-select input {
  width: 100%;
  height: 2.25em;
  border: 1px solid #999;
  padding: .5em;
  @include bp(lg) {
    width: 100%;
  }
}

p {
  margin-bottom: 1.5em;
}

li {
  width: 100%;
  list-style-type: none;
  margin-bottom: 1.1em;
  @include bp(lg) {
    width: 33.3%;
    float: left;
    padding-right: 1em;
    height: 3em;
  }
}

li:nth-child(3n + 3) {
  @include bp(lg) {
    padding-right: 0;
  }
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.15s 0.15s ease; 
  opacity: 0;
}


.gender-container {
  margin: 1.5em 0;
}

.gender-form{
  label {
    padding-right: 1.5em;
  }
}

.submit-container {
  padding: 1em 0 2.5em;
  input {
    float: right;
    border: none;
    padding: .75em;
    background-color: $primary-color;
    color: white;
    text-transform: uppercase;
    font-family: $font-stack-main;
    font-weight: bold;
  }
}

.error {
  border-bottom: none;
  background-color: rgba(255, 192, 203, 0.5);
  color: $primary-color;
  padding: .15em .35em;
}



