/* ***********************************************************
Float Clearing http://nicolasgallagher.com/micro-clearfix-hack
*********************************************************** */
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  clear: both;
}

/* Clearfix */
.group {
  *zoom: 1;
}
