/* ******************************************
	Typography
****************************************** */ 
html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h3 {
  font-family: $font-stack-main;
  font-weight: bold;
  font-size: 1.25em;
}

p, 
li {
  font-family: $font-stack-main;
  color: #555;
  font-size: 1.1em;
  line-height: 1.7;
  font-style: normal;
}

span {
  border-bottom: 1px solid #777;
  padding-bottom: .05em;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

input {
  color: #999;
  font-size: 1em;
}




::-moz-selection {
  background: $secondary-color;
  color: #fff;
}
::selection {
  background: $secondary-color;
  color: #fff;
}

