.header-wrap {
  margin: 2rem 0 3rem;
}

.home-wrap {
  margin: 0 auto;
  padding: .5em;
  border-radius: 5px;
  max-width: 40.625em; // 650px
}
.row {
  max-width: 40.625em; // 650px
  margin: 0 auto;
}


.home-info {
  padding: 0 0 1em;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.75;
}

.nav-wrapper li {
  display: inline-block;
  padding: 0 .75em;
  border-right: 1px solid #fff;
  line-height: 1;
  :hover {
    color: #3d5afe;
  }
}
li.last-li {
  border-right: none;
}
.nav-wrapper a {
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
}

.panel-header {
  padding: 1em 1em .5em;
}
.panel {
  padding: 1em 1em 0;
}
.panel-container {
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.button-container,
.button-reset {
  padding: 1.5em 0;
}

span.error {
  font-size: .75em;
  color: red;
  font-style: italic;
}
.input-container {
  padding-bottom: 1em;
}

div.result {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $input-border-color;
  border-radius: 0;
  outline: none;
  height: 1.75rem;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

// Placeholder Effect on Blur
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.15s 0.15s ease; 
  opacity: 0;
}
